.promoCode-container {
  height: 250px;
}
.promoCode-container .promoCode-content {
  border: 1px solid gray;
  background-color: white;
}
.promoCode-container .promoCode-content .code-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.promoCode-container .promoCode-content .code-container .code-value,
.promoCode-container .promoCode-content .code-container .percentage-value,
.promoCode-container .promoCode-content .code-container .amount-value,
.promoCode-container .promoCode-content .code-container .product,
.promoCode-container .promoCode-content .code-container .delete-btn-container {
  width: 15%;
  display: flex;
  align-items: center;
}
.promoCode-container .promoCode-content .code-container .expire-date {
  width: 20%;
}
