body {
    font-family: Poppins !important;
}
button {
    
}
.form {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.form-group input {
    margin: 10px 0 10px 0;
    width: 100%;
    
    
}
.form-group .text-left {
    margin-top: 10px;
    text-align: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
}
.form-group .google-btn button,
.form-group .facebook-btn button  {
    background-color: rgb(255, 255, 255);
    border: 0;
    box-shadow: 1px 1px 4px 0.5px rgba(0,0,0,0.5);
    width: 100%;
    margin-top: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-group .google-btn,
.form-group .facebook-btn {
   width: 100%;
    
}
.email-container {
    width: 100%;
    margin-top: 10px;
}
.form .logo-container {
   width: 20%;
}
.login-content {
    width: 100%;
}

.form-group .register-container {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}
.form-group .register-container .bold-text {
    color: rgb(67, 67, 133);
    
}
.form-group .register-container .bold-text:hover {
    text-decoration: underline;
}
.button {
    width: 100%;
}
.facebook-btn {
    width: 100%;

}
.facebook {
    color: white;
    background-color: rgb(54, 54, 161);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.logo {
    width: 25px;
    margin-right: 10px;
}
